.title {
  text-align: center;
  font-size: xx-large;
}

body {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(223, 213, 213);
  font-family: "Open Sans", sans-serif;
}
.card-img {
  width: 80%;
  float: left;
  width: 200px;
  height: 500px;
  object-fit: cover;
}
.card {
  width: 21%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(37, 162, 219);
  justify-content: space-around;
  margin: 3px 3px 3px;
  position: relative;
  box-shadow: 10px 5px 5px rgb(185, 98, 98);
}
@media screen and (max-width: 900px) {
  .card {
    width: 40%;
  }

  @media screen and (max-width: 600px) {
    .card {
      width: 100%;
    }
  }
}

.card-title {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
}
.card-desc {
  font-size: 1.3rem;
}
.flex-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  padding: 0%;
}
.card-title {
  background-color: powderblue;
  transition: background-color 0.5s;
}
.card {
  background-color: powderblue;
  transition: background-color 0.5s;
}
.card:hover {
  rotate: 360deg;
}
.card:hover {
  transform: rotate(360deg);
}
.card:hover {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
}
.card:hover {
  transition: 1s ease;
}
.animation {
  height: 6rem;
  width: 7rem;
  position: absolute;
  animation: animation 2s infinite;
}
@keyframes animation {
  0% {
    left: 5%;
    top: 2%;
  }
  50% {
    left: 25%;
    top: 2%;
  }
  100% {
    left: 5%;
    top: 2%;
  }
}

