.title {
  text-align: center;
}

body {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(223, 213, 213);
  font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
  
}
.card-img {
  width: 80%;
  float: left;
  width: 200px;
  height: 500px;
  object-fit: cover;
  
  
}
.card {
  width: 23%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(37, 162, 219);
  justify-content: space-around;
  margin: 3px 3px 3px;
  position: relative;
  box-shadow: 10px 10px lightblue;
}
.card-title {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
}
.card-desc {
  font-size: 1.3rem;
}
.flex-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  padding: 0%;
 }
 .card-title {
  background-color: powderblue;
  transition: background-color 0.5s;
}

.card:hover {
  background-color: gold;
}
.card {
  background-color: powderblue;
  transition: background-color 0.5s;
}
.card:hover{
  rotate: 360deg;
}
.card:hover{
  transform: rotate(360deg);
}
.card:hover {
  
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: card;
  -webkit-background-clip: card;
}
.card:hover {
    transition: 1s ease;
}