.title {
  text-align: center;
}

body {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: beige;
}
.card-img {
  width: 80%;
  float: left;
  width: 200px;
  height: 500px;
  object-fit: cover;
  
  
}
.card {
  width: 23%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  justify-content: space-around;
  margin: 3px 3px 3px;
  position: relative;
}
.card-title {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
}
.card-desc {
  font-size: 1.3rem;
}
.flex-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  padding: 0%;
 }


.card:hover {
  background-color: #e6ccff;
  width: 200px;
  height: 200px;
  rotate: 180deg;
}